@{
    ViewBag.Title = "Index";
}


<script src="@Url.Content("~/js/jquery-1.10.2.min.js")"></script>
<script src="@Url.Content("~/js/angular.min.js")"></script>
<script src="@Url.Content("~/js/AngularJSControllers/PeopleController.js")"></script>
<script data-require="ng-table" data-semver="0.3.0" src="@Url.Content("~/js/ng-table.js")"></script>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading text-primary">
                <h3 class="panel-title">
                    <i class="fa fa-pencil-square"></i>
                    Usuarios del sistema
                    <span class="pull-right"></span>
                </h3>
            </div>
            <div class="panel-body">                
                <div ng-app="userList">
                    <div ng-controller="userCtrl">
                        @*<p><strong>Página:</strong> {{tableParams.page()}}</p>
                        <p><strong>Filas por página:</strong> {{tableParams.count()}}</p>*@
                        @*<p><strong>Filter:</strong> {{tableParams.filter()|json}}*@
                        <table ng-table="tableParams" show-filter="true" class="table table-bordered table-hover table-striped display">
                            <tr ng-repeat="user in $data">
                                @*<td data-title="'id'" filter="{ 'id': 'text' }">{{user.id}}</td>*@
                                <td data-title="'Usuario'" filter="{ 'usuario': 'text' }">{{user.usuario}} </td>
                                <td data-title="'Primer Nombre'" filter="{ 'nombre1': 'text' }">{{user.nombre1}} </td>
                                <td data-title="'Segundo Nombre'" filter="{ 'nombre2': 'text' }"> {{user.nombre2}} </td>
                                <td data-title="'Primer Apellido'" filter="{ 'apellido1': 'text' }">{{user.apellido1}} </td>
                                <td data-title="'Segundo Apellido'" filter="{ 'apellido2': 'text' }">{{user.apellido2}}</td>
                                <td data-title="'Usuario Orkidea'" filter="{ 'usuarioOrkidea': 'text' }">{{user.usuarioOrkidea}} </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /panel body -->
        </div>
    </div>
    <!-- /col-md-12 -->
</div>
